import React, { Component } from 'react'
import { connect } from 'react-redux'
import PropTypes from 'prop-types'

class <%= props.name %> extends Component {
  constructor (props) {
    super(props)
    this.state = { }
  }
  render () {
    return (
      <div>
        <p><%= props.name %></p>
      </div>
    )
  }
}

<%= props.name %>.defaultProps = {}

<%= props.name %>.propTypes = {}

const mapStateToProps = (state) => {
  return {}
}

const mapDispatchToProps = (dispatch) => {
  return {}
}

export default connect(mapStateToProps, mapDispatchToProps)(<%= props.name %>)
